body {
    background-color: lightblue;
    margin: 0 auto;
    width: 1200px;
    padding-left: 10px;
}

header {
    margin-bottom: 50px;
}

main {
    background-color: azure;
    height: 500px;
    font-family: 'Montserrat', sans-serif;
    border-top: 20px;

}
h1 {
    font-family: 'Neucha', cursive;
    font-size: 100px;
    color: #2b0ba8;
    margin: 10px;
    font-weight: 900;
    margin-top: 20px;
    padding-top: 20 px;
    border-top: 20px;
    text-align: center;
    line-height: 140px;
    
}
h2 {
    font-family: 'Neucha', cursive;
    color: rgb(77, 124, 139);
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 20px;
    
}
p {
    font-size: 14px;
    margin: 10px;
}
ul {
    font-size: 14px;
    line-height: 20px;
    margin: 10px;
}
footer {
    background-color: rgb(77, 124, 139);
    height: 100px;
}

/* button {
    background-color: #f2f33c;
    font-size: 20px;
    color: #000000;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #808080;
  }
  button:hover {
    background-color: #7cf232;
    color: #333333;
  }
  .hidden {
    display: none;
  }
  .showing {
    display: block;
    font-family: Arial, sans serif;
    background-color: #0984e3;
    color: #ffffff;
    width: 300px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3px solid #000000;
    
  }
  
  .hidden2 {
    display: none;
  }
  .showing2 {
    display: block;
    font-family: Arial, sans serif;
    background-color: #00cec9;
    color: #ffffff;
    width: 300px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 3px solid #000000;
    
  } */